.h-input {
  width: 100%;
  padding: 0.5rem;
  background-color: #333;
  color: #999;
  border: 1px solid #444;
  border-radius: 0.25rem;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #999;
    color: #fff;
  }

  &::selection {
    background-color: #999;
    color: #222;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
