.header {
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header__logo-img {
  height: 10rem;
  width: auto;
}
