.header {
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 150;
  margin-bottom: 1rem;
  background: transparent;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 0 1rem;
  min-height: 48px;
}

.header__logo {
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header__logo-img {
  width: 10rem;
}

.header__dcc {
  flex: 1;
  display: flex;
  justify-content: center;
}
