.h-button {
  padding: 3rem 2rem;
  font-size: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: black;
  }
}
